html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    height: 100%;
    background: url('../img/bg.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
}

#container {
    height: 100%;
}

.hidden {
    display: none;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.load-more {
    margin: 5px 0;
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
}

.mmpop {
    position: absolute;
    background-color: #fff;
    z-index: 99;
    top: 0;
    left: 0;
    outline: 0;
}

.system_menu {
    background: transparent !important;
    z-index: 102 !important;
}

.system_menu {
    width: 180px;
}

.dropdown_menu {
    background-color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
    border: 1px solid #d6d6d6;
    box-shadow: rgba(0, 0, 0, .1) 2px 3px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 2px 3px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 2px 3px 10px;
    min-width: 125px;

    li {
        i {
            margin-right: 8px;
        }
        &.last_child a {
            border-bottom: 0;
        }

        a {
            display: block;
            text-decoration: none;
            color: #000;
            font-size: 14px;
            padding: 8px;
            border-bottom: 1px solid #f1f1f1;
            text-align: left;

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }
}

.search_bar {
    position: relative;
    width: 244px;
    margin: 0 auto 6px;

    .web_wechat_search {
        position: absolute;
        z-index: 101;
        top: 1px;
    }
    .frm_search {
        width: 244px;
        height: 32px;
        line-height: 32px;
        border: 0;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background-color: #26292E;
        color: #fff;
        padding-left: 30px;
        font-size: 12px;
    }
}

.recommendation {
    background: #33363b;
    width: 244px;
    top: 36px;
    left: 0;
    box-shadow: 0 0 10px #2a2a2a;
    border-radius: 2px;
    .contact_title.first {
        margin-top: 0;
    }
    .contact_title {
        padding: 3px 9px;
        font-weight: 400;
        color: #787b87;
        margin-top: 10px;
        background-color: #393c43;
    }

    .avatar {
        float: left;
        margin-right: 10px;
        .img {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 2px;
        }
    }

    .info {
        overflow: hidden;
        line-height: 30px;
        .nickname {
            font-weight: 400;
            color: #FFF;
            font-size: 14px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
        }
    }

    .contact_item {
        overflow: hidden;
        padding: 10px 9px;
        cursor: pointer;
        border-bottom: 1px solid #33363b;
        background-color: #393c43;
        &.on {
            background: #595b64;
        }
    }
}

.tab {
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;

    .tab_item {
        float: left;
        width: 50%;
        position: relative;

        a {
            display: block;
            text-align: center;
        }
    }
}

.box {
    position: relative;
    background-color: #eee;
    height: 100%;
    overflow: hidden;

    .box_hd {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 30px;

        .title_wrap {
            position: relative;
            padding: 10px 0;
            margin: 0 19px;
            border-bottom: 1px solid #d6d6d6;
            background-color: #EEE;
            z-index: 1024;
        }

        .title {
            font-weight: 400;
            height: 25px;
            display: inline-block;
            font-size: 14px;
            &.poi {
                cursor: pointer;
            }
        }
    }

    .box_bd {
        position: absolute;
        top: 51px;
        right: 0;
        bottom: 0;
        left: 0;

        .empty {
            margin: 50px;
            text-align: center;
            color: #888;
            font-size: 14px;
        }

        .profile {
            padding: 80px 0;
            text-align: center;
            .avatar {
                margin-bottom: 22px;
            }
            .img {
                display: block;
                width: 100px;
                height: 100px;
                margin: 0 auto;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
            }
            .signature {
                font-size: 14px;
                color: #888;
            }
            .nickname {
                font-weight: 400;
                font-size: 24px;
                margin-bottom: 10px;
                display: inline-block;
            }
            .meta_area {
                width: 410px;
                padding-left: 160px;
                text-align: left;
                margin: 30px auto 40px;
            }
            .meta_item {
                overflow: hidden;
                .label {
                    float: left;
                    font-size: 12px;
                    color: #888;
                    margin-right: 10px;
                }
                .value {
                    font-size: 12px;
                    color: #888;
                    width: 134px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;
                }
            }
            .button {
                display: inline-block;
                width: 200px;
                text-align: center;
                color: #fff;
                line-height: 40px;
                background-color: #42AC3E;
                font-size: 14px;
                text-decoration: none;
                border-radius: 4px;
            }
        }
    }
}

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
    & > .scroll-content {
        border: 0 !important;
        box-sizing: content-box !important;
        //height: auto; //todo
        height: 100%;
        left: 0;
        margin: 0;
        max-height: none !important;
        max-width: none !important;
        //overflow: scroll !important;
        overflow: auto;
        padding: 0;
        position: relative !important;
        top: 0;
        width: auto !important;
    }
}

.nav_view {
    position: absolute;
    overflow: auto;
    top: 154px;
    right: 0;
    bottom: 0;
    left: 0;
}

.send-box-emoji {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

