@media (max-height: 800px) {
    .main {
        padding-top: 0;
        height: 100%;
    }
}

@media (min-height: 801px) {
    .main {
        margin: auto 0;
        height: 800px;
    }
}

.main_inner {
    max-width: 1000px;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;

    .panel {
        position: relative;
        width: 280px;
        height: 100%;
        float: left;
        background: #2e3238;

        .header {
            padding: 18px;
            position: relative;

            .avatar {
                display: table-cell;
                vertical-align: middle;
                word-wrap: break-word;
                word-break: break-all;
                white-space: nowrap;
                padding-right: 10.625px;

                .img {
                    width: 40px;
                    height: 40px;
                    border-radius: 2px;
                    -moz-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    display: block;
                    cursor: pointer;
                }
            }

            .info {
                display: table-cell;
                vertical-align: middle;
                word-wrap: break-word;
                word-break: break-all;
                width: 2000px;

                .nickname {
                    .display_name {
                        display: inline-block;
                        font-weight: 400;
                        width: 156px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                        color: #fff;
                        font-size: 18px;
                        vertical-align: top;
                        line-height: 31px;
                        text-decoration: none;
                    }
                    .opt {
                        display: inline-block;
                        vertical-align: top;

                        .user_opt {
                            background: url(../img/icons.png) 0 -406px;
                            width: 30px;
                            height: 30px;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                }

            }
        }
    }

}

.message_empty {
    text-align: center;
    margin-top: 130px;
    color: #ccc;
    font-size: 13px;
}

.chat {
    .box_bd {
        bottom: 180px;
        padding: 0 19px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@import "chat/chat-list";
@import "chat/contact-list";
@import "chat/message";
@import "chat/send-box";
@import "chat/members";
