
.web_wechat_search {
    background: url(../img/icons.png) 0 -1946px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.menuicon_volume_on {
    background: url(../img/icons.png) 0 -338px;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
}

.menuicon_volume_mute {
    background: url(../img/icons.png) 0 -304px;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
}

.menuicon_quit {
    background: url(../img/icons.png) 0 -270px;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_tab_chat {
    background: url(../img/icons.png) 0 -2048px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_tab_chat_hl {
    background: url(../img/icons.png) 0 -2083px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_tab_public {
    background: url(../img/icons.png) 0 -2232px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_tab_friends {
    background: url(../img/icons.png) 0 -2140px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_tab_friends_hl {
    background: url(../img/icons.png) 0 -2175px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_no_contect {
    background: url(../img/icons.png) 0 -1433px;
    width: 150px;
    height: 150px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_women {
    background: url(../img/icons.png) 0 -2473px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_nomes_icon {
    background: url(../img/svg/small-shell.svg);
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_message_fail {
    background: url(../img/icons.png) 0 -1270px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_up_icon {
    background: url(../img/icons.png) 0 -2362px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_down_icon {
    background: url(../img/icons.png) 0 -795px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_reddot_middle {
    background: url(../img/icons.png) 0 -1780px;
    width: 22px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_reddot_bbig {
    background: url(../img/icons.png) 0 -1748px;
    width: 29px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_reddot {
    background: url(../img/icons.png) 0 -1736px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
}