//constants
$border-color: 1px solid rgba(0, 0, 0, 0.1);
$history-message-height: 400px;
$send-message-box-height: 200px;
$send-message-tools-height: 45px;
$notification-container-width: 240px;
$notification-item-height: 60px;
